{{> header}}

<p>La suppression s'est déroulée sans incident. Vous allez être redigiré vers la page d'accueil du site.</p>

<div class="container">
    <div class="card" style="margin-top: 25vh; margin-left: 125px; margin-right: 125px;">
        <div class="card-header">
            SUPPRESSION REUSSIE
        </div>
        <div class="card-body">
            <h5 class="card-title">La suppression s'est déroulée sans incident. Vous allez être redigiré vers la page d'accueil du site.</p>
        </div>
    </div>
</div>

{{> footer}}