<!DOCTYPE html><html>
    <head>
        <meta charset="utf-8" lang="en"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/submenu-style.css"/>
        <title>The One World Project</title>
        <link rel="icon" href="../resources/earth-icon.png"/>
    </head>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="navbar-brand ml-1 mr-1" href="/"><strong>The One World Project</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
          <div class="mx-auto nav-item text-white navbar-text">
            <strong>Créez, recherchez, participez à des projets pour améliorer notre monde !</strong>
          </div>
          <div class="pl-5 navbar-right">
            <a class="btn btn-primary mr-2" href="/search-form" alt="Rechercher" title="Rechercher"><i class="fas fa-search"></i></a>
            {{^authenticated}}
            <a class="btn btn-primary mr-2" type="button" href="/login-form">Se connecter</a>
            <a class="btn btn-primary mr-2" href="/signup-form" type="button">S'inscrire</a>
            {{/authenticated}}
            {{#authenticated}}
            <a class="btn btn-primary mr-2" href="/create-project-form" data-toggle="tooltip" data-placement="bottom" title="Créer un projet"><i class="fas fa-plus-square"></i></a>
            <a class="btn btn-primary mr-2" href="/home" data-toggle="tooltip" data-placement="bottom" title="Accueil"><i class="fas fa-home"></i></a>
            <a class="btn btn-primary mr-2" href="/logout" data-toggle="tooltip" data-placement="bottom" title="Se déconnecter"><i class="fas fa-power-off"></i></a>
            {{/authenticated}}
          </div>   
                   
        </div>
      </nav>
    </header>

    <body>
      <main role="main" class="container-fluid" style="margin-top: 75px;">