{{> header}}
<!--
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="card" style="width: 18rem; margin-top: 30px; margin-left: 3vw">
        <div class="card-header">
          <h3>Welcome Home!</h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="/profile/{{username}}">My profile</a>
          </li>
          <li class="list-group-item">Created projects</li>
          <li class="list-group-item">Projects involving</li>
          <li class="list-group-item">Followed projects</li>
          <li class="list-group-item" id="disconnectButton"style="text-align: center;">
            <Button class="btn btn-outline-danger" style="padding-right: 0px; padding-left: 100px;">Log out</Button>
          </li>
        </ul>
      </div>
    </div>
</div>
-->

<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="card" style="width: 18rem; margin-top: 30px; margin-left: 3vw">
      <div class="card-header">
        <h3>Welcome Home!</h3>
      </div>
      <div class="list-group list-group-flush">
        <a class="list-group-item" href="/profile/{{username}}">My profile</a>
        <a class="list-group-item" href="#">Created projects</a>
        <a class="list-group-item" href="#">Projects involving</a>
        <a class="list-group-item" href="#">Followed projects</a>
        <a href="#" class="list-group-item" id="logout-item"><b>Log out</b></a>
      </div>
    </div>
  </div>
</div>

{{> footer}}