{{>header}}

<script>
    document.body.setAttribute('style', "background-image: url(../resources/112868.jpg);background-size: cover; background-attachment: fixed;");
  </script>
  <div class="row" style="margin-top: 15vh; margin-bottom: 10vh;">
    <div class="col-md-12 mx-auto">
      <div class="card mx-auto px-4" style="width: 70vw; background-color: rgba(0, 128, 255, 0.7); border: 2px solid white ">
        <h1 style="color: white;">Bienvenue sur <i>The One World Project</i></h1>
        <h3 style="color:white;">Une collection de projets ambitieux pour rendre ce monde meilleur</h3>
        <blockquote class="blockquote">
          <p class="mt-5" style="size: 2rem; color: white">
          Depuis toujours, l’Homme se sert des ressources naturelles de la Terre pour créer, façonner son propre environnement, 
          dans le but de se protéger, se garantir un certain confort de vie et d’évoluer.
          Cependant, depuis plusieurs décennies, la question de l’utilisation de ces ressources fait débat. 
          En effet, beaucoup de ressources utilisées sont épuisables ou s’effacent petit-à-petit de la surface du globe, 
          notre mode de vie s’en trouvant dégradé. Les conséquences de ces exploitations massives de notre planète mènent 
          à des changements climatiques sans précédents, des disparitions d’espèces de toutes sortes, et menacent directement notre monde. 
          Des prises de conscience émergent et de plus en plus de gouvernements, de multinationales et d’autres acteurs prennent des mesures 
          pour limiter leurs impacts environnementaux. Pour accompagner ce mouvement, nous avons créé One World Project qui met
          en avant les projets de toutes tailles en matière d’écologie, et en encourager la création, nous basant sur les valeurs
          humaines de générosité, solidarité, d'entraide et de partage. <strong>Nous avons besoin de vous !</strong>
          </p>
          <footer class="blockquote-footer text-white mt-5">
            <span class="h5">Robin Severac et Loïc Neyrat,
              <cite title="fondateurs du One World Projects">fondateurs de The One World Project</cite>
            </span>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

{{>footer}}