{{>header}}

<div class="container" style="margin-top: 100px;">
    <div class="jumbotron">
        <h1 class="display-4">{{title}}</h1>
        <p class="lead" style="text-align: center;">Un projet créé par {{creator}} le {{date}}.</p>
        <hr class="my-4">
        <p>{{description}}</p>
        <p>Catégories : {{categories}} </p>
        <p>Mots-clefs : {{keywords}} </p>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-primary" href="#" role="button">Voir les évènements</a>
        </p>

    </div>
</div>
  


{{>footer}}