{{> header}}

<div class="container" style="margin-top: 25vh;">
    <div class="card p-3" style="background-color: red; width: 75vw;">
        <div class="card-head">
            <h5><strong>Oops: opération non-autorisée</strong></h5>
        </div>
        <div class="card-title">
            <p class="text-white">Vous n'êtes pas autorisé à effectuer cette action. Vous pouvez retourner sur la page précédente en cliquant sur le bouton ci-dessous.</p>
            {{#details}}
            <p class="text-white">Seul le modérateur ayant créé l'événement et le créateur du projet sont autorisés à modifier ou supprimé un événement.</p>
            {{/details}}
        </div>
        <a href="{{referer}}" class="btn btn-light mx-auto">Retour</a>
    </div>
</div>

{{> footer}}