{{> header}}

<div class="container" style="margin-top: 25vh;">
    <div class="card p-3" style="background-color: red; width: 75vw;">
        <div class="card-head">
            <h5><strong>Oops: une erreur est survenue</strong></h5>
        </div>
        <div class="card-title">
            <p class="text-white">Il semblerait qu'il y ait eu une erreur. Réessayez votre opération. Si l'erreur persiste, contactez un administrateur.</p>
        </div>
        <a href="{{referer}}" class="btn btn-light mx-auto">Retour</a>
    </div>
</div>

{{> footer}}