{{> header}}


<div class="container">
    <div class="card" style="margin-top: 25vh; margin-left: 150px; margin-right: 150px;">
        <div class="card-header">
            SUPPRESSION D'UN UTILISATEUR
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Vous vous apprêtez à supprimer le compte de <i>{{username}}</i>. Cette action est <strong>irréversible</strong>.
            </h5>
            <form class="form-inline" method="GET" action="/confirm-user-delete">
                    <input type="hidden" name="username" value="{{username}}">
                    <label for="delete"><p class="card-body">Pour confirmer la supression, tapez "SUPPRIMER" dans la barre ci-contre</p></label>
                    {{#wrongWord}}Le champ n'a pas été correctement rempli. Merci de réessayer.<br />{{/wrongWord}}
                    <div class="mx-auto">
                        <input class="form-control mr-2" style="width: 200px" type="text" name="delete" id="delete">
                        <button class="btn btn-warning" type="submit">Supprimer</button> 
                    </div>
                    
                </div>
            </form>
            {{#deleteFailure}}
            <p class="text-danger font-italic">La suppression a échoué. Merci de réessayer. Si l'erreur persiste, contactez un administrateur.</p>
            {{/deleteFailure}}
        </div>
    </div>
</div>



{{> footer}}