{{> header}}


<div class="container">
    <div class="card p-3" style="margin-top: 25vh; margin-left: 125px; margin-right: 125px;">
        <div class="card-header">
            <h5><strong>SUPPRESSION REUSSIE</h5>
        </div>
        <div class="card-title">
            <h5>La suppression s'est déroulée sans incident. Cliquez sur "Continuer" pour reprendre votre navigation</h5>
        </div>
        <a href="{{linkToNext}}" class="btn btn-success float-right">Continuer</a>
    </div>
</div>

{{> footer}}