{{>header}}

<div class="container" style="margin-top: 10vh; margin-bottom: 10vh;">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1 class="text-white">Pour un monde plus humain...</h1>
        <h3 class="text-white">{{objective}} votre projet</h3>
    </div>
  </div>
  
  <div class="card mx-auto mt-4" style="width:60vw; border: 1px solid black;">
    <div class="card-body">
      <form action="{{linkToRout}}" method="post">
        <div class="form-group">
          <label for="title">Titre : </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-angle-double-right"></i>
              </span>
            </div>
            <textarea class="form-control" type="text" placeholder="100 caractères maximum" name="title" maxlength="100" rows="1" required>{{title}}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description : </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-align-justify"></i></span>
            </div>
            <textarea class="form-control" type="text" placeholder="1000 caractères maximum" name="description" maxlength="1000" rows="4" required>{{description}}</textarea>
          </div>
        </div>
        <div class="form-group">
        {{#keywordHasTooManyCharacters}}
          <p class="text-danger font-italic">L'un de vos mots-clef contient plus de 15 caractères.</p>
        {{/keywordHasTooManyCharacters}}
          <label for="keywords">Mots-clef : </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input class="form-control" type="text" placeholder="15 caractères maximum par mot-clef" name="keywords" value="{{keywords}}" maxlength="100" required>
          </div>
          <small id="keywordsFormat" class="form-text text-muted"> Merci de les séparer par des virgules.</small>
        </div>
        {{#noCategoriesChosen}}
          <p class="text-danger font-italic">Vous devez choisir au moins une catégorie.</p>
        {{/noCategoriesChosen}}
        <div class="form-group">
          <label for="categories">Categories : </label>
          <div class="input-group">
            {{#allCategories}}
            <div class="custom-control custom-checkbox ml-4">
              <input type="checkbox" class="custom-control-input" name="{{name}}" id="{{name}}" {{check}}>
              <label class="custom-control-label" for="{{name}}">{{value}}</label>
            </div>
            {{/allCategories}}
          </div>
        </div>
        <div class="row ml-2 mr-2">
          <div class="col-sm-6">
            <button class="btn btn-primary float-right" type="submit">{{objective}} le projet</button>
          </div>
        </div>
      </form> 
    </div>
  </div>
</div>

{{> footer}}