{{> header}}

<div class="container" style="margin-top: 25vh;">
    <div class="card p-3" style="background-color: red; width: 75vw;">
        <div class="card-head">
            <h5><strong>Opération non autorisée</strong></h5>
        </div>
        <div class="card-title">
            <p class="text-white">Avant de quitter le projet, merci de nommer un nouveau créateur. Vous pouvez retourner sur la page précédente en cliquant sur le bouton ci-dessous.</p>
        </div>
        <a href="{{referer}}" class="btn btn-light mx-auto">Retour</a>
    </div>
</div>

{{> footer}}