{{> header}}

<div class="container" style="margin-top: 17vh;">
  {{#updateFailure}}<p class="text-danger font-italic">La mise à jour de votre mot de passe a échoué. Merci de réessayer. Si l'erreur persiste, contactez un administrateur.</p>
  {{/updateFailure}}
    <div class="card mx-auto mt-4" style="width:550px; border: 1px solid black;">
      <div class="card-body">
        {{#wrongPassword}}
        <p class="text-danger font-italic">Ce mot de passe ne correspond pas à celui dans notre base de données. Veuillez réessayer.</p>
        {{/wrongPassword}}
        <form action="/update-password" method="POST">
          <div class="form-group">
            <label for="oldPwd">Votre ancien mot de passe : </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input class="form-control" type="password" placeholder="Ancien mot de passe" name="oldPwd" required id="oldpwd">
            </div>
          </div>
          <div class="form-group">
            <label for="newPwd">Votre nouveau mot de passe* : </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input class="form-control" type="password" placeholder="Nouveau mot de passe" name="newPwd" maxlength="50" required id="pwd">
            </div>
          </div>
          {{#pwdNotConfirmed}}
          <p class="text-danger font-italic">Ce mot de passe doit être identique à votre nouveau mot de passe.</p>
          {{/pwdNotConfirmed}}
          <div class="form-group">
            <label for="verifpwd">Confirmez votre mot de passe* : </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-shield-alt"></i></span>
              </div>
              <input class="form-control" type="password" name="verifpwd"  required id="verifpwd">
            </div>
          </div>
          <div class="row ml-2 mr-2">
            <div class="col-sm-6">
              <small class="form-text"><input type="checkbox" onclick="pwdVisibility()">Afficher le mot de passe.</small>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-primary float-right" type="submit">Confirmer</button>
            </div>
          </div>
        </form> 
      </div>
    </div>
  
  <script>
  function pwdVisibility() {
      var oldpwd = document.getElementById(('oldpwd'));
      var pwd = document.getElementById('pwd');
      var verifpwd = document.getElementById('verifpwd');
      oldpwd.type = pwd.type === "password" ? "text" : "password";
      pwd.type = pwd.type === "password" ? "text" : "password";
      verifpwd.type = verifpwd.type === "password" ? "text" : "password";
  }
  </script>
  </div>

{{> footer}}