{{>header}}

<!--Améliorer avec style sheet pour classes container-form, form-card et form-sbmt-btn -->
<div class="container" style="margin-top: 25vh;">
    
    <div class="card mx-auto mt-4" style="width:550px; border: 1px solid black;">
      <div class="card-body">
        <form action="/update-username" method="POST">
          {{#usernameTaken}}
          <p class="text-danger font-italic">Ce nom d'utilisateur est déjà pris.Merci d'en choisir un autre.</p>
          {{/usernameTaken}}
          <div class="form-group">
            <label for="username">Votre nouveau nom d'utilisateur : </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
              <input class="form-control" type="text" placeholder="nom d'utilisateur" name="username" value="{{username}}" maxlength="20" required>
            </div>
          </div>
          {{#wrongPassword}} <p class="text-danger font-italic">Mot de passe invalide.</p>
          {{/wrongPassword}}
          <div class="form-group">
            <label for="pwd">Votre mot de passe : </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input class="form-control" type="password" placeholder="mot de passe" name="pwd" required id="pwd">
            </div>
          </div>
          <div class="row ml-2 mr-2">
            <div class="col-sm-6">
              <small class="form-text"><input type="checkbox" onclick="pwdVisibility()">Afficher le mot de passe.</small>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-primary float-right" type="submit">Confirmer la modification</button>
            </div>
          </div>
        </form> 
      </div>
    </div>
  
  <script>
  function pwdVisibility() {
      var pwd = document.getElementById('pwd');
      pwd.type = pwd.type === "password" ? "text" : "password";
  }
  </script>
  </div>



{{>footer}}