{{> header}}


<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12 fixed" style="width: 18rem; margin-left: 2vw;">
    <div class="card" style="width: 18rem; margin-left: 2vw"><!--- margin-left: 3vw-->
      <div class="card-header">
        <h3>Bienvenue à la maison, {{username}} !</h3>
      </div>
      <div class="list-group list-group-flush" id="submenu" role="tablist">
        <a class="list-group-item item" href="#" id="droplink" data-toggle="collapse" data-target="#param-menu">Mes informations<i class="ml-2 fas fa-angle-down"></i></a>
        <div class="collapse" id="param-menu" data-parent="submenu">
          <div class="list-group list-group-flush">
            <a class="list-group-item param-link" href="/update-username-form">Changer le nom d'utilisateur</a>
            <a class="list-group-item param-link" href="/change-password-form">Changer le mot de passe</a>
            {{^isAdmin}}
            <a class="list-group-item param-link exit-item" href="/confirm-user-delete/{{username}}"><b>Supprimer mon compte</b></a>
            {{/isAdmin}}
          </div>
        </div>
        {{#isSupervisorOrAbove}}
        <a class="list-group-item text-primary" href="/usersList">Liste des utilisateurs du site</a>
        {{/isSupervisorOrAbove}}
        <a class="list-group-item" id="list-messages-list" href="/create-project-form">Créer un projet</a>

        <a class="list-group-item list-group-item-action" id="created-projects-button" data-toggle="list" href="#created-projects" role="tab" aria-controls="home">Vos créations</a>
        <a class="list-group-item list-group-item-action" id="supported-projects-button" data-toggle="list" href="#supported-projects" role="tab" aria-controls="profile">Projets auxquels vous participez</a>
        <a href="/logout" class="list-group-item exit-item"><b>Se déconnecter</b></a>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-md-12 col-sm-12">
    <div class="tab-content" id="nav-tabContent">
      {{#projects}}
      <div class="tab-pane fade show active" id="created-projects" role="tabpanel" aria-labelledby="created-projects-button" style="margin-bottom: 75px;">
        <h1 class="mb-3">Projets que vous avez créé</h1>
        <hr class="mb-4"/>
        {{#created}}
        <div class="card" style="margin-top: 20px; margin-bottom: 20px;"><!--width: 18rem; -->
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Créé le {{date}}</h6>
            <p class="card-text text-secondary">
              Catégories : {{categories}}<br>
              Mots-clefs : {{keywords}}<br>
            </p>
            <a href="/project-details/{{projectId}}" class="card-link">Voir les détails</a>
            <a href="/update-project-form/{{projectId}}" class="card-link">Modifier</a>
            <a href="/project-details/{{projectId}}/create-event" class="card-link">Créer un évènement</a>
            <a href="/membersList/{{projectId}}" class="card-link">Gérer les membres</a>
            <a href="/delete-project/{{projectId}}" class="card-link">Supprimer</a>
          </div>
        </div>
        {{/created}}
      </div>
      <div class="tab-pane fade" id="supported-projects" role="tabpanel" aria-labelledby="supported-projects-button" style="margin-top: 20px; margin-bottom: 75px;">
        <h1>Projets auxquels vous participez</h1>
        <hr class="mb-4"/>
        {{#supported}}
        <div class="card" style="margin-top: 20px; margin-bottom: 20px;">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Créé le {{date}} par {{creator}}</h6>
            <p class="card-text text-secondary">
              Catégories : {{categories}}<br>
              Mots-clefs : {{keywords}}<br>
            </p>
            {{#isModerator}}
            <p class="text-success">Vous êtes modérateur de ce projet !</p>
            {{/isModerator}}
            <a href="/project-details/{{projectId}}" class="card-link">Voir les détails</a>
            {{#isModerator}}
            <a href="/project-details/{{projectId}}/create-event" class="card-link">Créer un évènement</a>
            <a href="/membersList/{{projectId}}" class="card-link">Gérer les membres</a>
            {{/isModerator}}
          </div>
        </div>
        {{/supported}}
      </div>
      {{/projects}}
    </div>
  </div>
</div>

{{> footer}}