{{>header}}

<!--Améliorer avec style sheet pour classes container-form, form-card et form-sbmt-btn -->
<div class="container" style="margin-top: 16vh;">
    <div class="row">
      <div class="col-md-8 mx-auto">
          <h1 class="text-white">Heureux de vous revoir !</h1>
      </div>
    </div>
  
    <div class="card mx-auto mt-4" style="width:550px; border: 1px solid black;">
      <div class="card-body">
        {{#wrongCredentials}}
        <p class="text-danger font-italic">Mauvaise adresse email ou mauvais mot de passe.</p>
        {{/wrongCredentials}}
        <form action="/login" method="post">
          <div class="form-group">
            <label for="mail">Email : </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
              <input class="form-control" type="email" placeholder="name@example.com" name="mail" value="{{email}}" required>
            </div>
          </div>
          <div class="form-group">
            <label for="pwd">Mot de passe : </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input class="form-control" type="password" placeholder="mot de passe" name="password" required id="password">
            </div>
          </div>
          <div class="row ml-2 mr-2">
            <div class="col-sm-6">
              <small class="form-text"><input type="checkbox" onclick="pwdVisibility()"> Afficher le mot de passe</small>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-primary float-right" type="submit">Se connecter</button>
            </div>
          </div>
        </form> 
      </div>
    </div>
    <script>
      function pwdVisibility() {
        var pwd = document.getElementById('password');
        pwd.type = pwd.type === "password" ? "text" : "password";
      }
      </script>



{{>footer}}