.card-header {
    text-align: center;
}

.list-group-item {
    background : white;
    text-decoration: none;
    color: black;
}

.list-group-item:hover {
    background: #0080FF;
    color: white;
    transition-duration: 200ms;
}

.param-link {
    background-color: #A4A4A4;
    border-radius: 0px;
}

.param-link:hover {
    background-color: orange;
    color: white;
    border-radius: 0px;
}

#param-menu {
    border-style: none;
}

#logout-item {
    text-align: center;
    color: red;
    background-color: #F2F2F2;
}

#logout-item:hover {
    background: #B40404;
    color: white;
    transition-duration: 200ms;
}
